<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/']">
                    <span class="sr-only">(current)</span>
                    <img class="img-responsive" src="assets/img/logo.png" width="50" height="50" class="d-inline-block align-top">
                </a>
            </li>
            <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </ul>
    </div>
    
     

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
                
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/usuario']">
                    <img class="img-responsive" src="assets/img/user.png" width="50" height="50" class="d-inline-block align-top">
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/listadeseo']">
                    <img class="img-responsive" src="assets/img/lista.png" width="50" height="50" class="d-inline-block align-top">
                </a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/carrito']">
                    <img class="img-responsive" src="assets/img/carrito.png" width="50" height="50" class="d-inline-block align-top">
                </a>
            </li>
      </ul>
      
    </div>
  </nav>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Departamentos <span class="sr-only">(current)</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/electrodomesticos']">Electrodomesticos</a>
                        <a class="dropdown-item" [routerLink]="['/arte']">
                            Arte
                        </a>
                        <a class="dropdown-item" [routerLink]="['/muebles']">
                            Muebles
                        </a>
                        <a class="dropdown-item" [routerLink]="['/bano']">
                            Baño
                        </a>
                    </div>
                </li>
                
                
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/recomendados']">
                        Recomendados 
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/ofertas']">
                        Ofertas
                    </a>
                </li>
          </ul>
        </div>
      </nav>